<% extend("../master") %>
<div class="container-fluid main-content">
    <div class="row content">
        <%- include('sections/leftSidenav'); %>
        

        <%- include('sections/rightSlidenav'); %>
        
    </div>
</div>